body{
    background-color: darkseagreen
}
#navegador{
    margin-top: 8px;
}

#buscador{
    /* text-align: right; */

}

#logueo{
    text-align: right;

}

#mapa{
  /*   height: 400px; */

}

#grupos{
    height: 400px;
    border: 1px solid black;

    
}

#mapaGrupo{
    margin-bottom: 4%;
}

#botones{
    border: 1px solid black;
    height: 50px;
}