#navegadorBuscador{
    margin: 2% 0%;
    padding-bottom: 5%;
}
#navegador{

    padding-bottom: 5%;
}
#buscador{
    border: 1px solid black;
    padding-bottom: 5%;
}

#mapa{
    height: 400px;
    border: 1px solid black;
}

#grupos{
    height: 400px;
    border: 1px solid black;

    
}

#mapaGrupo{
    margin-bottom: 4%;
}

#botones{
    border: 1px solid black;
    height: 50px;
}