*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkseagreen
}
#navegador{
    margin-top: 8px;
}

#buscador{
text-align: right;


}

#logueo{
   text-align: right;
   padding-left: 3px;
}

#login{
    /* width: 7%; */
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    position: relative;
}

#login:hover{
    

}

#icono{
    position: absolute;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    width: 1%;
}

#icono:hover{
    width: 27%;
}



#mapa{
  /*   height: 400px; */

}

#grupos{
    height: 400px;    
}

#mapaGrupo{
    margin-bottom: 4%;
}

#botones{
    border: 1px solid black;
    height: 50px;
}

#grupos>button{
    width: 100%;
    margin: 5px;
}